* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    border: none;
}

.outerContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .innerContainer {
        border: 1px solid #000;
        box-shadow: 0 0 20px rgba($color: #000000, $alpha: .5);
        background-color: #686de0;
        width: 320px;
        height: fit-content;
        padding: 2rem 1rem 0;
        .heading {
            font-size: 1.6rem;
            text-align: center;
            margin: 1rem 0;
            color: #130f40;
            font-weight: 800;
        }
        .password-container {
            width: 100%;
            display: flex;
            margin: 0 0 1rem 0;
            .password {
                width: 100%;
                padding: 0rem 0 0rem .5rem;
                border-radius: 4px;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
            button {
                padding: .51rem 1rem;
                background-color: #4834d4;
                color: #fff;
                border-radius: 4px;
                height: 100%;
                font-size: 1rem;
                margin: 0 0 0 .4rem;
                cursor: pointer;
            }
        }
    }
}

.divider {
    margin: .25rem 0;
}

.btnGen {
    display: block;
    margin: 1rem auto;
    padding: .5rem 1.5rem;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: .5rem;
}

.passwordLength {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1rem 0;
    .heading2 {
        font-size: 1.5rem;
        color: #130f40;
        font-weight: 800;
    }
    input {
        padding: .1rem .5rem;
        border: 10px;
    }
}

.inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    .inputLabel {
        color: #130f40;
        font-weight: 700;
        font-size: 1.15rem;
    }
    input {
        width: 15px;
        height: 15px;
    }
}